.App {
  text-align: center;
  /* background-image: url('img1.png');
  background-repeat: no-repeat;
  background-position: right
  */
}
.App-header {
  background-position: right;
  background-image: url('img1.png');
  background-repeat: no-repeat;
  padding-right: initial
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  width: 100%;
  
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
